.use {
  display: flex;
  padding: 0.5rem;
  color: #ffffff;
  font-weight: 300;
  justify-content: center;
  width: 100%;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.enter {
  color: sandybrown;
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.uilEnter {
  display: inline-block;
  padding-right: 0.5rem;
}
.search {
  color: sandybrown;
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.uilSearch {
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
