.details {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  justify-content: center;
  align-items: center;
}
.icon_temp {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon_inner_temp {
  width: 5rem;
}
.temp_prop {
  color: #ffffff;
  font-size: 3rem;
  line-height: 1;
}
.side_props {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
}
.side_prop_details {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.mr1 {
  margin-right: 0.25rem;
}
.props_details {
  margin-left: 0.25rem;
  font-weight: 500;
}
.bottom_details {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: 0.5rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.font_weight {
  font-weight: 300;
}
